Serviços/SemanticAnnotation.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://unifacs.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://unifacs.org/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://unifacs.org/">
<s:element name="realizarAnotacaoSemantica">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="documento">
<s:complexType mixed="true">
<s:sequence>
<s:any/>
</s:sequence>
</s:complexType>
</s:element>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="realizarAnotacaoSemanticaResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="realizarAnotacaoSemanticaResult">
<s:complexType mixed="true">
<s:sequence>
<s:any/>
</s:sequence>
</s:complexType>
</s:element>
<s:element minOccurs="0" maxOccurs="1" name="documento">
<s:complexType mixed="true">
<s:sequence>
<s:any/>
</s:sequence>
</s:complexType>
</s:element>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="realizarAnotacaoSemanticaSoapIn">
<wsdl:part name="parameters" element="tns:realizarAnotacaoSemantica"/>
</wsdl:message>
<wsdl:message name="realizarAnotacaoSemanticaSoapOut">
<wsdl:part name="parameters" element="tns:realizarAnotacaoSemanticaResponse"/>
</wsdl:message>
<wsdl:portType name="AnotacaoSemanticaSoap">
<wsdl:operation name="realizarAnotacaoSemantica">
<wsdl:input message="tns:realizarAnotacaoSemanticaSoapIn"/>
<wsdl:output message="tns:realizarAnotacaoSemanticaSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="AnotacaoSemanticaSoap" type="tns:AnotacaoSemanticaSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="realizarAnotacaoSemantica">
<soap:operation soapAction="http://unifacs.org/realizarAnotacaoSemantica" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="AnotacaoSemanticaSoap12" type="tns:AnotacaoSemanticaSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="realizarAnotacaoSemantica">
<soap12:operation soapAction="http://unifacs.org/realizarAnotacaoSemantica" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="AnotacaoSemantica">
<wsdl:port name="AnotacaoSemanticaSoap" binding="tns:AnotacaoSemanticaSoap">
<soap:address location="http://localhost:50323/AnotacaoSemantica.asmx"/>
</wsdl:port>
<wsdl:port name="AnotacaoSemanticaSoap12" binding="tns:AnotacaoSemanticaSoap12">
<soap12:address location="http://localhost:50323/AnotacaoSemantica.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>